In [ ]:
# imports 
import pandas as pd

In [30]:
data = pd.read_csv('newer.csv', delimiter=',')
data

,_raw,_time,eventtype,host,index,linecount,punct,source,sourcetype,splunk_server,splunk_server_group,timestamp
0,acpi,2023-04-26T14:57:59.000+03:00,NaN,Corey,main,1,NaN,/sys/kernel/reboot/type,type-too_small,Corey,NaN,none
1,1,2023-04-26T14:57:59.000+03:00,NaN,Corey,main,1,NaN,/sys/kernel/fscaps,fscaps-too_small,Corey,NaN,none
2,7707,2023-04-26T14:57:59.000+03:00,NaN,Corey,main,1,NaN,/sys/kernel/uevent_seqnum,uevent_seqnum-too_small,Corey,NaN,none

In [32]:
# data preprossing
data.isna().sum()
# data.duplicated().sum() #0 duplicates
# data.shape # shape of the data

_raw                   0
_time                  0
eventtype              3
host                   0
index                  0
linecount              0
punct                  3
source                 0
sourcetype             0
splunk_server          0
splunk_server_group    3
timestamp              0
dtype: int64

In [ ]:

# Separate the features (inputs) and the label (output)
X = data.drop('behavior')
y = data['behavior']